<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz624.dao.GoodsDao">

    <!-- 查询商品通过id -->
    <select id="selectGoodsById" parameterType="com.zz624.entry.Goods"
            resultMap="Goods">
		select * from goods where id = #{id};
	</select>

    <!-- 查询所有商品 -->
    <select id="selectAllGoods" parameterType="com.zz624.entry.Goods"
            resultMap="Goods">
		select * from goods
	</select>

    <select id="selectGoodsDetail" parameterType="int" resultType="com.zz624.entry.GoodsDetail">
		select * from goodsdetails where mainid = #{id}
	</select>

    <resultMap type="com.zz624.entry.Goods" id="Goods">
        <id column="id" property="id" />
        <result column="goodsname" property="goodsname" />
        <result column="imagesrc" property="imagesrc" />

        <collection property="details" ofType="GoodsDetail" select="selectGoodsDetail" column="id">
        </collection>

    </resultMap>
</mapper>